<h1>Welcome!</h1>

<div container>
  <div class="row">
    <div class="col-sm-6">Number of users swiped</div>
    <div class="col-sm-6">{{main.statistics.swiped}}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Number of users match</div>
    <div class="col-sm-6">{{main.statistics.matched}}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Match rate</div>
    <div class="col-sm-6">{{main.statistics.match_rate}}</div>
  </div>
</div>
<!--<div class="slides" ng-repeat="(index, user) in users">-->
  <!--<div ng-repeat="image in user"><img ng-src="{{image}}"></div>-->
<!--</div>-->
